/* Global Thingies */
:root {
  --orange: #ffc787;
  --pink: #e0a6f4;
  --grey: #292929;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Manrope", sans-serif;
  color: #fff;
  background: #000;
}

.homepage {
  background: url("../images/Star 1.png") no-repeat top 5% right 20% / 1.5vw
      1.5vw,
    url("../images/Vector 6.png") no-repeat top 9% right 97% / 20vw auto,
    url("../images/Ellipse 4.png") no-repeat top -4% left 90% / 60vw auto,
    url("../images/Ellipse 3.png") no-repeat top 28% right 110% / 50vw auto,
    url("../images/Ellipse 2.png") no-repeat top 70% right 100% / 50vw auto,
    url("../images/Ellipse 3.png") no-repeat top 60% right 0% / 50vw auto,
    url("../images/Ellipse 3.png") no-repeat top 90% right 60% / 50vw auto,
    url("../images/Vector 8.png") no-repeat top 28% right 11% / 10vw auto,
    url("../images/Vector 5.png") no-repeat top 48% right 95% / 11vw auto,
    url("../images/Vector 2.png") no-repeat top 60% right 5% / 25vw auto,
    url("../images/Ellipse 1.png") no-repeat top 7% right 90% / 40vw auto;
}

.sobrepage {
  background: url("../images/Star 1.png") no-repeat top 5% right 20% / 2vw,
    url("../images/Vector 6.png") no-repeat top 12% right 97% / 20vw auto,
    url("../images/Ellipse 4.png") no-repeat top -4% left 90% / 60vw auto,
    url("../images/Ellipse 3.png") no-repeat top 37% right 110% / 50vw auto,
    url("../images/Ellipse 2.png") no-repeat top 70% right 100% / 50vw auto,
    url("../images/Ellipse 3.png") no-repeat top 60% right 0% / 50vw auto,
    url("../images/Vector 3.png") no-repeat top 32% right 2% / 15vw auto,
    url("../images/Vector 1.png") no-repeat top 60% right 2% / 20vw auto,
    url("../images/Ellipse 1.png") no-repeat top 15% right 95% / 40vw auto;
}

.contactpage {
  background: url("../images/Vector 6.png") no-repeat top 40% right 95% / 20vw
      auto,
    url("../images/Ellipse 4.png") no-repeat top 5% left 90% / 60vw auto,
    url("../images/Ellipse 1.png") no-repeat top 70% right 100% / 50vw auto;
}

.projectspage {
  background: url("../images/Vector 6.png") no-repeat top 30% right 96% / 20vw
      auto,
    url("../images/Ellipse 4.png") no-repeat top -10% left 90% / 60vw auto;
}

/*------------------- HEADER -------------------*/
header {
  background-color: black;
}

header .menu-toggle {
  display: none;
}

.nav {
  display: flex;
  gap: 12px;
  text-decoration: none;
  color: #fff;
  font-weight: 200;
  font-size: small;
  border: 1px solid transparent;
  border-radius: 30px;
  display: flex;
  align-items: center;
  background: linear-gradient(#1c1c1c) padding-box,
    linear-gradient(to right, var(--pink), var(--orange)) border-box;
}

.nav-item-active {
  border: 1px solid transparent;
  border-radius: 30px;
  background: var(--grey);
}

.lang {
  background-image: linear-gradient(var(--pink), var(--orange));
  color: transparent;
  background-clip: text;
}

.separators {
  display: block;
  max-width: 90vw;
  margin: 20px auto !important;
}

/* ------------------- HERO ------------------- */
.hero-title {
  font-family: "Vollkorn", serif;
  font-size: 6rem;
  line-height: 80px;
  margin-bottom: 20px;
  z-index: 2;
}

hr.solid {
  border-top: 1px solid #bbb;
  margin-bottom: 10px;
  margin-top: 10px;
}

.star {
  width: 2vw;
  height: 2vw;
}

.line-sec {
  font-weight: 200;
  gap: 80px;
}

.hero {
  display: flex;
  flex-direction: row;
}

/* ------------------- Serviços ------------------- */
.service-wrapper {
  position: relative;
  overflow: visible;
  min-height: 50vh;
}

.service-cards,
.projects,
.contact,
.testimonials-bubbles {
  margin-right: 3rem;
  margin-left: 3rem;
  padding: 3rem;
}

.card {
  border-radius: 35px !important;
  width: 400px !important;
  height: 200px !important;
  overflow: hidden;
  position: relative;
}

.card-body {
  position: relative;
  height: 100%;
  padding: 1.5rem;
}

.card-title {
  display: inline-block;
  font-family: "Manrope", sans-serif;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  padding: 0.25rem 0.5rem;
  border-radius: 5px;
  width: 45%;
}

.card-text {
  font-family: "Manrope", sans-serif;
  font-size: 0.9rem;
  color: black;

  position: absolute;
  top: 60%;
  right: 1rem;
  transform: translateY(-50%);
  width: 45%;
  margin: 0;
}

/* ------------------- Projetos ------------------- */
.project-card {
  display: flex;
  align-items: center;
  justify-self: center;
  gap: 2rem;
  background-color: var(--grey);
  border-radius: 20px;
  padding: 2rem;
  color: #fff;
  max-width: 900px;
  margin: 40px;
}

.project-card-image img {
  display: block;
  max-width: 500px;
  width: 100%;
  border-radius: 8px;
}

.project-card-info {
  flex: 1;
}

.project-card-number {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  border: 2px solid transparent;
  background: linear-gradient(#1c1c1c) padding-box,
    linear-gradient(to right, var(--pink), var(--orange)) border-box;
  border-radius: 50%;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.project-card-title {
  margin: 0 0 0.5rem 0;
  font-family: "Manrope", sans-serif;
  font-size: 1.5rem;
  line-height: 1.2;
}

.project-card-desc {
  margin: 0;
  font-size: 1rem;
  line-height: 1.4;
  color: #ccc;
  font-family: "Manrope", sans-serif;
}

/* ------------------- Testimonials ------------------- */
.testimonials {
  margin: 0px 150px;
  margin-right: 3rem;
  margin-top: 3rem;
}

.testimonial-card {
  position: relative;
  max-width: 600px;
  margin-top: 2rem;
  padding: 2rem;
  background: var(--grey);
  border-radius: 20px;
  border: 1px solid var(--pink);
  color: #fff;
}

.testimonial-card--orange {
  border-color: var(--orange);
}

.testimonial-card-text {
  margin: 0;
  font-family: "Manrope", sans-serif;
  line-height: 1.5;
}

.testimonial-card-arrow {
  position: absolute;
  bottom: -20px;
  left: 10%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid var(--pink);
}
.testimonial-card--orange .testimonial-card-arrow {
  border-top-color: var(--orange);
}

.testimonial-card-author {
  margin-left: 20px;
  margin-top: 2.5rem;
  font-family: "Manrope", sans-serif;
  color: #fff;
}

.testimonials {
  display: flex;
  flex-direction: column;
}

.testimonials .testimonial-item:nth-child(even) {
  align-self: flex-end;
}

.testimonials .testimonial-item:nth-child(odd) {
  align-self: flex-start;
}

.testimonials .testimonial-item {
  max-width: 600px;
  width: 100%;
}

/* ------------------- Contacto ------------------- */
.contact-section {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-form {
  margin-right: 150px;
  margin-left: 50px;
  width: 500px;
}

.image-contact {
  max-width: 90vw;
  max-height: 100px;
  pointer-events: none;
}

.contact-form .form-label {
  color: #fff;
  font-family: "Manrope", sans-serif;
  font-weight: 300;
  margin-bottom: 0.5rem;
}

.custom-input,
.custom-textarea {
  background-color: #fff;
  border: none;
  font-family: "Manrope", sans-serif;
  font-size: 1rem;
  padding: 1rem;
}

.custom-input {
  border-radius: 30px;
}

.custom-textarea {
  border-radius: 30px;
  min-height: 150px;
  resize: vertical;
}

.custom-btn {
  background: linear-gradient(90deg, var(--pink), var(--orange));
  border: none;
  border-radius: 50px;
  padding: 0.5rem 1rem;
  color: #000;
  font-family: "Manrope", sans-serif;
  font-weight: 300;
  display: inline-block;
  text-align: center;
  min-width: 225px;
}

.custom-btn:hover {
  opacity: 0.9;
}

/* ------------------- Sobre - Processo ------------------- */
.custom-accordion .accordion-item {
  margin-bottom: 1rem;
  border: none;
  background-color: transparent;
}

.custom-accordion .accordion-button {
  position: relative;
  width: 100%;
  padding: 1rem 1.5rem;
  background-color: white;
  color: var(--grey) !important;
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  font-size: 1.125rem;
  border-radius: 0.75rem;
}

.custom-accordion .accordion-button::after {
  font-size: 1.25rem;
  position: absolute;
  right: 1.5rem;
}

.custom-accordion .accordion-button:not(.collapsed) {
  box-shadow: none;
}

.custom-accordion
  .accordion-item:nth-child(odd)
  .accordion-button:not(.collapsed) {
  background-color: var(--orange);
}

.custom-accordion
  .accordion-item:nth-child(even)
  .accordion-button:not(.collapsed) {
  background-color: var(--pink);
}

.custom-accordion .accordion-button:not(.collapsed) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.custom-accordion .accordion-body {
  padding: 1rem 1.5rem;

  border-bottom-left-radius: 0.75rem;
  border-bottom-right-radius: 0.75rem;
  color: var(--grey);
  font-family: "Manrope", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}

.custom-accordion .accordion-button.collapsed {
  border-radius: 0.75rem;
}

/* ------------------- Sobre - Team ------------------- */
.team-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  padding: 2rem;
}

.avatar {
  width: 80px;
  height: 80px;
  background: #000;
  border-radius: 50%;
  margin-bottom: 1.25rem;
}

.avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.photo-name {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.photo-name .info {
  display: flex;
  flex-direction: column;
}

.photo-name .role {
  margin: 0;
  color: #555;
  font-size: 0.9rem;
}

.name {
  margin: 0;
  font-size: 1.25rem;
  font-weight: 600;
}
.role {
  margin: 0.25rem 0 1rem;
  font-size: 0.9rem;
  color: #555;
}

.divider {
  width: 100%;
  border: none;
  border-top: 1px solid #ddd;
  margin: 0 0 1rem;
}

.description {
  margin: 0;
  font-size: 0.9rem;
  line-height: 1.4;
  color: var(--grey);
}

.team-cards .card {
  flex: 0 0 350px;
  width: 350px;
  min-height: 250px;
  background: white;
  border-radius: 30px;
  padding: 2rem 1.5rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: start;
}

/* ──────────────────────────────────────────── */
/*          Large desktops (<1200px)            */
/* ──────────────────────────────────────────── */
@media (min-width: 2300px) {
  body {
    background: url("../images/Star 1.png") no-repeat top 5% right 15% / 2vw 2vw,
      url("../images/Vector 6.png") no-repeat top 8% right 95% / 10vw auto,
      url("../images/Ellipse 4.png") no-repeat top -8% left 85% / 55vw auto,
      url("../images/Ellipse 1.png") no-repeat top 10% right 85% / 35vw auto;
  }
}

/* ──────────────────────────────────────────── */
/*             Desktops (<992px)                */
/* ──────────────────────────────────────────── */
@media (max-width: 992px) {
  .homepage {
    background: url("../images/Vector 6.png") no-repeat top 11% right 93% / 25vw
        auto,
      url("../images/Ellipse 4.png") no-repeat top 0% left 80% / 70vw auto,
      url("../images/Ellipse 1.png") no-repeat top 12% right 88% / 55vw auto;
  }

  .hero {
    flex-direction: column;
    align-items: center;
  }

  .projectspage {
    background: url("../images/Ellipse 4.png") no-repeat top -10% left 90% / 60vw
      auto;
  }

  .contact-section {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }

  .contactpage {
    background: url("../images/Vector 6.png") no-repeat top 43% right 90% / 20vw
        auto,
      url("../images/Ellipse 4.png") no-repeat top 5% left 90% / 60vw auto,
      url("../images/Ellipse 1.png") no-repeat top 70% right 100% / 50vw auto;
  }

  .sobrepage {
    background: url("../images/Vector 6.png") no-repeat top 16% right 97% / 20vw
        auto,
      url("../images/Ellipse 4.png") no-repeat top 0% left 90% / 60vw auto,
      url("../images/Ellipse 3.png") no-repeat top 37% right 110% / 50vw auto,
      url("../images/Ellipse 2.png") no-repeat top 70% right 100% / 50vw auto,
      url("../images/Ellipse 3.png") no-repeat top 60% right 0% / 50vw auto,
      url("../images/Vector 3.png") no-repeat top 37% right 3% / 15vw auto,
      url("../images/Vector 1.png") no-repeat top 62% right 7% / 20vw auto,
      url("../images/Ellipse 1.png") no-repeat top 15% right 95% / 40vw auto;
  }
}

/* ──────────────────────────────────────────── */
/*         Tablets (sm: <880px)                 */
/* ──────────────────────────────────────────── */
@media (max-width: 880px) {
  .homepage {
    background: url("../images/Vector 6.png") no-repeat top 13% right 90% / 30vw
        auto,
      url("../images/Ellipse 4.png") no-repeat top 1% left 99% / 80vw auto,
      url("../images/Ellipse 1.png") no-repeat top 12% right 99% / 65vw auto !important;
  }

  .contactpage {
    background: url("../images/Ellipse 4.png") no-repeat top 5% left 90% / 60vw
        auto,
      url("../images/Ellipse 1.png") no-repeat top 70% right 100% / 50vw auto;
  }

  .sobrepage {
    background: url("../images/Ellipse 4.png") no-repeat top 0% left 90% / 60vw
        auto,
      url("../images/Ellipse 3.png") no-repeat top 37% right 110% / 50vw auto,
      url("../images/Ellipse 2.png") no-repeat top 70% right 100% / 50vw auto,
      url("../images/Ellipse 3.png") no-repeat top 60% right 0% / 50vw auto,
      url("../images/Ellipse 1.png") no-repeat top 15% right 95% / 40vw auto;
  }
}

/* ──────────────────────────────────────────── */
/*            Phones (<768px)                   */
/* ──────────────────────────────────────────── */
@media (max-width: 768px) {
  .homepage {
    background: url("../images/Ellipse 4.png") no-repeat top 2% left 20% / 120vw
        auto,
      url("../images/Ellipse 1.png") no-repeat top 11% left -20% / 85vw auto !important;
  }

  .contactpage {
    background: url("../images/Ellipse 4.png") no-repeat top 5% left 90% / 80vw
      auto;
  }

  .projectspage {
    background: url("../images/Ellipse 4.png") no-repeat top 10% left 90% / 80vw
      auto;
  }

  .sobrepage {
    background: url("../images/Ellipse 4.png") no-repeat top 2% left 90% / 70vw
        auto,
      url("../images/Ellipse 3.png") no-repeat top 37% right 110% / 50vw auto,
      url("../images/Ellipse 2.png") no-repeat top 70% right 100% / 50vw auto,
      url("../images/Ellipse 3.png") no-repeat top 60% right 0% / 50vw auto,
      url("../images/Ellipse 1.png") no-repeat top 15% right 95% / 40vw auto;
  }

  .service-cards {
    margin-right: 0px;
    margin-left: 0px;
    padding: 2rem;
  }

  .contact-section {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }

  .contact-form {
    display: flex;
    flex-direction: column;
    width: 250px;
    margin: 0px;
  }

  .hero-text {
    width: 250px !important;
    margin-left: auto !important;
  }

  .hero {
    align-items: flex-start !important;
    margin: 0px !important;
  }

  .hero-title {
    font-size: 4.5rem;
  }

  header .nav,
  header .lang,
  .star,
  .project-card-image {
    display: none;
  }

  .services {
    display: none;
  }

  header .menu-toggle {
    display: block;
    position: static;
    margin-left: auto;
    flex-shrink: 0;

    width: 3rem;
    height: 3rem;
    border-radius: 50%;

    background-image: linear-gradient(#1c1c1c, #1c1c1c),
      linear-gradient(to right, var(--pink), var(--orange));
    background-origin: padding-box, border-box;
    background-clip: padding-box, border-box;
    cursor: pointer;

    border: 1px solid transparent;

    color: var(--pink);
    cursor: pointer;
  }

  header.open .nav {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    right: 0;
    width: 50vw;
    background-color: #000;
    text-align: center;
  }
  header.open .nav .nav-link {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
  }

  .testimonials {
    margin: 0px !important;
  }

  .testimonials-bubbles,
  .projects {
    margin-right: 1rem;
    margin-left: 1rem;
    padding: 0;
  }
}
